<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="Appender1" type="log4net.Appender.RollingFileAppender">
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="30" />
      <datePattern value="-yyyy-MM-dd'.log'" />
      <!-- Choose one of three 'file' elements -->
      <!--
            <file value="Log\${USERNAME}-${COMPUTERNAME}"/>
            <file value="C:\Foo\${USERNAME}-${COMPUTERNAME}" />            
            <file value="${TEMP}\${USERNAME}-${COMPUTERNAME}" />
            -->
      <!-- Dynamically set a log directory -->
      <file type="log4net.Util.PatternString" value="%property{LogDirectory}\%property{ApplicationName}-${USERNAME}-${COMPUTERNAME}" />
      <!-- %location = %type.%method(:%line) -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm}|%level|%location|%message%newline" />
      </layout>
      <!-- Use LevelMin if you want this appender to log only FATAL or higher while other appenders log of the specified level in <root> below. -->
      <!--
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin"
                       value="FATAL"/>
            </filter>
            -->
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="Appender1" />
    </root>
    <!-- If NHibernate is used. -->
    <!--
        <logger name="NHibernate">
            <level value="WARNING" />
        </logger>
        -->
  </log4net>
  <connectionStrings>
    <clear />
    <!-- The "name" attribute is required and its value cannot be empty. -->
    <add name="Foo" connectionString="Data Source=example.com;Initial Catalog=Database1;User=User1;Password=Password1" />
    <add name="Bar" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Database1;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="1" />
    <add key="Key1" value="Value1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>